.que.numericalrecit .numericalrecit_input_warning_outer {
    display: inline;
    position: absolute;
    z-index: 1;
}

.que.numericalrecit .numericalrecit_input_warning {
    background: transparent;
    left: -1.3em;
    position: absolute;
    top: 0.3em;
}

.que.numericalrecit .numericalrecit_input_info_outer {
    display: inline;
    position: absolute;
    z-index: 2;
    margin-top: 19px;
}

.que.numericalrecit .numericalrecit_input_info {
    background-color: #eef;
    border: 1px solid #88c;
    left: 0;
    position: absolute;
    top: 1.63em;
    width: 150px;
}

.que.numericalrecit .numericalrecit_input_info_title {
    padding: 2px;
}

.que.numericalrecit .numericalrecit_input_info_interpretation {
    border-top: 1px solid #88c;
    padding: 2px;
}

.que.numericalrecit .numericalrecit_input_info_interpretation_incorrect {
    border-top: 1px solid #88c;
    color: #bbb;
    padding: 2px;
}

.que.numericalrecit .numericalrecit_unit {
    margin: 0 0 0 0;
    width: 60px;
}

.que.numericalrecit .numericalrecit_number {
    margin: 0 0 0 0;
    width: 100px;
    height: 37px;
}

.que.numericalrecit .numericalrecit_number_unit {
    margin: 0 0 0 0;
    width: 80px;
}

.que.numericalrecit .numericalrecit_numeric {
    margin: 0 0 0 0;
    width: 100px;
    height: 37px;
}

.que.numericalrecit .numericalrecit_numeric_unit {
    margin: 0 0 0 0;
    width: 200px;
}

.que.numericalrecit .numericalrecit_numerical_formula {
    margin: 0 0 0 0;
    width: 200px;
}

.que.numericalrecit .numericalrecit_numerical_formula_unit {
    margin: 0 0 0 0;
    width: 300px;
}

.que.numericalrecit .numericalrecit_algebraic_formula {
    margin: 0 0 0 0;
    width: 200px;
    height: 37px;
}

.que.numericalrecit .numericalrecit_algebraic_formula_unit {
    margin: 0 0 0 0;
    width: 300px;
}

.que.numericalrecit .formulation .numericalrecitpart {
    display: block;
    margin: 0 0 1.2em 0;
    padding-bottom: 0;
}

.que.numericalrecit .formulation .numericalrecit_menu {
    display: inline;
    margin: 0 0 1.2em 0;
    padding-bottom: 0;
}

.que.numericalrecit .multichoice_answer div.r0,
.que.numericalrecit .multichoice_answer div.r1 {
    padding: 0.3em 0 0.3em 25px;
    text-indent: -25px;
}


.que.numericalrecit .numericalrecit_mark {
    display: inline;
}

.que.numericalrecit .numericalrecit_grade {
    font-size: 0.8em;
}

.que.numericalrecit .formulation .numericalrecitpartfeedback,
.que.numericalrecit .formulation .numericalrecitpartcorrectanswer,
.que.numericalrecit .formulation .numericalrecitlocalfeedback {
    padding-top: 6px;
}

.que.numericalrecit .formulation .numericalrecitpartoutcome, .que.numericalrecit .comment {
    background: #fff3bf;
    color: black;
    margin: 0.2em -0.2em 0.5em;
    padding: 0.2em;
}

.que.numericalrecit .formulation .numericalrecitpartfeedback .correct,
.que.numericalrecit .formulation .numericalrecitpartfeedback .partiallycorrect,
.que.numericalrecit .formulation .numericalrecitpartfeedback .incorrect {
    background: transparent;
}

/* Styles for the editing form. */
body#page-question-type-numericalrecit .numericalrecit_correctness_show {
    display: inline;
}

.que.numericalrecit .step0 .editor_atto {
    border: 1px solid gray;
}

body#page-question-type-numericalrecit .numericalrecit_input_warning_outer {
    display: inline;
    position: absolute;
    z-index: 1;
}

body#page-question-type-numericalrecit .numericalrecit_input_warning {
    background: transparent;
    left: -1.3em;
    position: absolute;
    top: 0.3em;
}

body#page-question-type-numericalrecit .numericalrecit_input_info_outer {
    display: inline;
    position: absolute;
    z-index: 2;
    margin-top: 19px;
}

body#page-question-type-numericalrecit .numericalrecit_input_info {
    background-color: #eef;
    border: 1px solid #88c;
    left: 0;
    position: absolute;
    top: 1.94em;
    width: 150px;
}

body#page-question-type-numericalrecit .numericalrecit_input_info_title {
    padding: 2px;
}

body#page-question-type-numericalrecit .numericalrecit_input_info_interpretation {
    border-top: 1px solid #88c;
    padding: 2px;
}

body#page-question-type-numericalrecit .numericalrecit_input_info_interpretation_incorrect {
    border-top: 1px solid #88c;
    color: #bbb;
    padding: 2px;
}

/* RTL hacks */
#page-question-type-numericalrecit #id_varsrandom,
#page-question-type-numericalrecit #id_varsglobal {
    height: 80px;
    direction: ltr;
    text-align: left;
}

.mark_l {
    font-weight: bold;
    margin-left: 20px;
    display: inline;
}

.mark_r {
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1rem;
}



#popup_valuetable input {
    max-width: 65px;
}

#popup_valuetable .modal-content {
    min-width: 400px;
    display: table;
}